{% extends 'admin/admin.html.twig' %}


{% block title %}Recette : " ~ recipe.title {% endblock %}

{% block body %}
    <h1>{{ recipe.title }}</h1>

<img style="width:150px" src="{{ vich_uploader_asset(recipe, 'thumbnailFile') }}" alt="{{ recipe.title }}">

    {{ form(form) }}
    
{% endblock %}
