* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    width: 1000px;
}

main {
    background-color: #efe784;
    width: 1000px;
    margin-left: 500px;
}

header {
    background-image: url(images/LEGENDARY/header.jpg);
    background-repeat: no-repeat;
    width: 800px;
    height: 300px;
    position: relative;
    top: 0px;
    left: 100px;
}

.logoheader {
    position: relative;
    top: 50px;
    left: 200px;
}

h1 {
    color: #efe784;
    font-size: 2rem;
    letter-spacing: 20px;
    position: relative;
    top: 80px;
    text-align: center;

}

.intro {
    background-color: #3e3838;
    color: #efe784;
    width: 800px;
    height: 300px;
    position: relative;
    left: 100px;
    padding: 50px;
    text-align: center;
}

p {
    padding: 0px 75px 0px 75px;
}

h2 {
    position: relative;
    font-size: 1rem;
    bottom: 30px;
    letter-spacing: 10px;
    border-top: 1px solid #efe784;
    border-bottom: 1px solid #efe784;
    display: inline;
    padding: 5px;
}

.avengers {
    background-color: white;
    color: #282828;
    width: 800px;
    height: 600px;
    position: relative;
    left: 100px;
    padding: 50px;
    text-align: center;
}

.avengersphoto {
    background-image: url(images/LEGENDARY/avengers.jpg);
    background-repeat: no-repeat;
    background-position: 0% 25%;
    background-size: cover;
    height: 200px;
    width: 550px;
    position: relative;
    left: 75px;
}

.articleavengers {
    color: #6cbcb3;
}

article {
    position: relative;
    top: 50px;
    left: 75px;
    text-align: left;

}


h3 {
    text-align: left;
    padding-left: 75px;
    padding-bottom: 20px
}

.p2 {
    text-align: left;
    padding-bottom: 50px;
    padding-top: 20px;
}

strong {
    color: #6cbcb3;
}


.aStarIsBorn {
    background-color: #6cbcb3;
    color: #3e3838;
    width: 800px;
    height: 500px;
    position: relative;
    left: 100px;
    padding: 50px;
}

.starphoto {
    background-image: url(images/LEGENDARY/star.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 550px;
    position: relative;
    left: 75px;
    top: 40px;
    background-position-x: 50%;
    background-position-y: 10%;

}

.articleStar {
    position: relative;
    top: 60px;
    color: white;
}

.WomanAtWar {
    background-color: #3e3838;
    color: white;
    width: 800px;
    height: 600px;
    position: relative;
    left: 100px;
    padding: 50px;
}

.womanphoto {
    background-image: url(images/LEGENDARY/woman.jpg);
    background-size: cover;
    height: 225px;
    width: 550px;
    background-repeat: no-repeat;
    position: relative;
    left: 75px;
    top: 40px;
    background-position-y: 95%;
}

.articlewoman {
    position: relative;
    top: 75px;
}

footer {

    background-color: black;
    color: white;
    height: 160px;
    width: 800px;
    position: relative;
    left: 100px;
}

.footerlogo {
    padding: 25px;
    position: relative;
    left: 50px;
}

span {
    color: #efe784;

}