* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: aliceblue;
    padding: 10px;
}
.box{
    background-color: red;
    border: 1px solid black;
    padding: 6px;
}
.grid{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4,2fr);
    grid-template-rows: 1fr 2fr 2fr 1fr;
}
.grid :nth-child(1){
    grid-column-start: 1;
    grid-column-end: 5;
    height: 10vh;
}
.grid :nth-child(2){
    grid-row-start: 2;
    grid-row-end:  5;
}
.grid :nth-child(6){
    grid-row-start: 3;
    grid-row-end:  5;
    grid-column-start: 2 ;
    grid-column-end: 5;
}
.grid :nth-child(7){
    grid-column-start: 1;
    grid-column-end: 5;
    height: 10vh;

}