main {
    background-color: blue;
    width: 100vw;
    height: 150vh;
    margin: 2%
}

header {
    display: flex;
    flex: 2;
    gap: 25px;
    margin: 50px;
    padding-top: 50px;

}

.header1 {
    background-color: orange;
    width: 50vw;
    height: 25vh;

}

.header2 {
    background-color: grey;
    width: 50vw;
    height: 25vh;
}

.rectangle {
    background-color: yellow;
    width: 130vw;
    height: 25vh;
    margin: 50px;
}

.box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.box1 {
    background-color: orange;
    width: 20vw;
    height: 30vh;

}

.box2 {
    background-color: orange;
    width: 20vw;
    height: 30vh;

}

.box3 {
    background-color: orange;
    width: 20vw;
    height: 30vh;

}

.box4 {
    background-color: orange;
    width: 20vw;
    height: 30vh;

}

.para {
    display: flex;
    flex-wrap: wrap;
    flex: 2;
    gap: 25px;
    margin: 50px;
    padding-top: 50px;

}

.para1 {
    background-color: yellow;
    width: 45vw;
    height: 25vh;
}

.para2 {
    background-color: yellow;
    width: 45vw;
    height: 25vh;
}

footer {
    background-color: green;
    height: 5%;
    width: 90%;
    margin-left: 5%;
}