* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #da2241;
}
body header {
  height: 50px;
  background-color: black;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav {
  align-items: center;
}
header nav ul {
  list-style: none;
  color: whitesmoke;
  display: flex;
  gap: 50px;
  text-decoration: none;
}
header nav ul li a {
  text-decoration: none;
  color: white;
}
h1 {
  text-align: center;
  padding-top: 50px;
}
.formulaire-calcul {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  gap: 6vh;
}
.input-calc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label {
  color: white;
}
.boutons {
  display: flex;
  gap: 1vw;
}
.boutons button {
  width: 5vw;
  height: 3vh;
  background-color: #ff2f6d;
  color: black;
}
.resulat-operation {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3rem;
}
footer {
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  margin-top: 760px;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
}
