{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
				<div class="jumbotron bg-white text-dark p-5 shadow-sm rounded">
					<h1 class="display-4">Bienvenue sur Mon Site!</h1>
					<p class="lead">Ce projet a été réalisé dans le but de mettre en pratique la formation Symfony acquise avec Gaea21.</p>
					<hr class="my-4">
					<p>Utilisez le menu de navigation pour explorer le site.</p>
				</div>
{% endblock %}
