* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
nav {
  width: 80%;
  height: 5%;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
}
nav .containerNav {
  display: flex;
  justify-content: center;
  gap: 50px;
  font-size: 2rem;
}
